.bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom: 1em;
} 

.icon {
    position: relative;
    bottom: 3px;
    right: 0.6em;
  }

  html {
    overflow-y: scroll;
  }

  html *
{
   color: rgb(226, 223, 223);
   font-family: Arial !important;
}