.bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom: 1em;
} 

.bottom-fixed{
  bottom: 0;
  position: fixed;
  z-index: 3000;
  width:inherit;
}

.icon {
    position: relative;
    bottom: 3px;
    right: 0.6em;
  }

  html {
    overflow-y: scroll;
  }

  html *
{
   color: rgb(226, 223, 223);
   font-family: Arial !important;
}